@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=PT+Sans+Narrow&display=swap');

body {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

#clickeventdiv{
    color: white;
    position: absolute;
    top: 40%;
    font-family: 'PT Sans Narrow', sans-serif;
}

.fullscreen-video {
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    min-width: 135%;
    min-height: 110%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -2;
    background-size: cover;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

#subcontent{
    margin-top: 7rem;
    text-align: center;
    color: white;
    font-family: 'Archivo', sans-serif;
}

#subcontent img{
    position: fixed; 
    bottom: 10px;
    left: 50%;
    cursor: pointer;
    height: 75px;
    width: 75px;
}
